.avatar {
  max-width: 70%;
  height: auto;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.avatar-info {
  margin-left: 20px;
}

/* Add styles for additional information if necessary */
.avatar-info p {
  margin: 5px 0;
}
