.product-list {
  display: grid;
  gap: 20px;
  list-style: none;
  padding: 20px;
}

.product-list li {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list li button {
  border: none; /* Eliminamos el borde para los botones */
}

.product-image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  object-fit: contain;
}

.product-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 0;
}

.product-link:hover {
  text-decoration: underline;
}
