.favorites-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.favorites-item {
  margin: 10px;
  text-align: left;
}

.favorites-image {
  max-width: 200px;
  height: auto;
}

.heart-icon-container {
  position: absolute;
  top: 0;
  right: 0;
}
