.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  color: purple;
}

/* Responsive styles */
@media (min-width: 576px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
