body {
  margin: 20px;
}

.product-list {
  display: grid;
  gap: 20px;
  grid-auto-flow: row; /* This allows elements to flow into a new row when there is not enough space in the column */

}

/* Responsive styles */
@media (min-width: 576px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
