body {
  margin: 20px;
}

/* Responsive styles */
@media (min-width: 576px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
