.custom-button {
  background-color: #0cf25d;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #02735e;
}
